/JavaCompUtit/JavaCompUnit/build/
/JavaCompUtit/JavaCompUnit/nbproject/private/
/JavaFXTestCellSpan/nbproject/private/
/JavaFXTestCellSpan/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/FXDocking/build/
/fxform.edit/build/
/JavaFXApplication6/nbproject/private/
/JavaFXApplication6/build/
/JavaFXApplication6/dist/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/JavaApplication12/dist/